@value border from '../../../constants/border.css';
@value accent1, accent2 from '../../../constants/colors.css';

.localToolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 54px;
  border-bottom: border;
  height: 47px;
  background: white;
  display: flex;
  align-items: center;
}

.localToolbar a {
  font-size: 16px;
  font-weight: 500;
  color: accent2;
}

.localToolbar a.active {
  color: accent1
}