@value primary, timelineNavigationBackground from '../../../constants/colors.css';


.draggableHandlerContainer {
  height: 90px;
}

.draggableHandlerDraggableSurface {
  height: 90px;
  background: timelineNavigationBackground;
  border: 1px solid primary;
  border-radius: 5px;
}
