@value border from '../../constants/border.css';
@value accent1, accent2 from '../../constants/colors.css';

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.localToolbar {
  flex: 0 0 47px;
  width: 100%;
  border-bottom: border;
  height: 47px;
  background: white;
  display: flex;
  align-items: center;
}

.localToolbar .grid {
  width: 100%;
}

.localToolbar a {
  font-size: 16px;
  font-weight: 500;
  color: accent2;
}

.localToolbar a.active {
  color: accent1
}

.localToolbar h3 {
  font-size: 16px;
  font-weight: 500;
  color: accent1;
  padding-top: 8px;
}

.localToolbar .actions {
  display: flex;
  flex-direction: row;
}

.localToolbar .actions .ofButton button {
  white-space: nowrap;
  margin-left: 10px;
}

@media print {
  .localToolbar {
    display: none;
  }
}
