.routineDetails > .content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 100px;
  padding-bottom: 150px;
}

.routineDetails .card {
  background: white;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 30px;
  margin: 10px;
}
