.calibration {
  width: 500px;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.calibration .content {
  padding-top: 10px;
  height: 180px;
}

.calibration .loader {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 40px;
  margin: 20px auto 10px auto;
}

.calibration .action {
  margin-top: 50px;
}