.dashboard {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 50px;
  padding-bottom: 150px;
}

.dashboard .sensorChartRow {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.dashboard .sensorChartRow > * {
  flex: 1
}

.dashboardWrapper .localToolbar .grid {
  margin-left: 2px;
}